<div class="sbar">
  <a href="/entry">
    <div class="profile">
      <img src="images/DuaAlmadinah.jpg" alt="profile_picture">
      <h3>Dua-Almadinah</h3>
    </div>
  </a>
  <ul>
    <!-- <li>
      <a href="/adminHome">
        <span class="icon"><i class="fas fa-user-shield"></i></span>
        <span class="item">Admin</span>
      </a>
    </li> -->
    <li>
      <a href="/queryRequest">
        <span class="icon"><i class="fa-solid fa-check"></i></span>
        <span class="item">Query Request</span>
      </a>
    </li>
    <!-- <li>
      <a href="underProcessing">
        <span class="icon"><i class="fa-solid fa-microchip"></i></span>
        <span class="item">Under Processing</span>
      </a>
    </li>
    <li>
      <a href="/onHoldTourist">
        <span class="icon"><i class="fa-solid fa-hand-holding-droplet"></i></span>
        <span class="item">On Hold(By Tourist)</span>
      </a>
    </li>
    <li>
      <a href="/onHoldCustomer">
        <span class="icon"><i class="fa-solid fa-hand-holding-droplet"></i></span>
        <span class="item">On Hold(By Customer)</span>
      </a>
    </li>
    <li>
      <a href="/cancelledRequests">
        <span class="icon"><i class="fa-solid fa-ban"></i></span>
        <span class="item">Cancelled Request</span>
      </a>
    </li> -->
    <li>
      <a href="/createCity">
        <span class="icon"><i class="fa-solid fa-circle-plus"></i></span>
        <span class="item">Create New City</span>
      </a>
    </li>
    <li>
      <a href="/createPackage">
        <span class="icon"><i class="fa-solid fa-cart-plus"></i></span>
        <span class="item">Create Package</span>
      </a>
    </li>
    <li>
      <a href="/request">
        <span class="icon"><i class="fas fa-user-friends"></i></span>
        <span class="item">See requests</span>
      </a>
    </li>
    <li>
      <a href="/deleteCity">
        <span class="icon"><i class="fa-solid fa-trash-can"></i></span>
        <span class="item">Delete City</span>
      </a>
    </li>
    <li>
      <a href="/deletePackage">
        <span class="icon"><i class="fa-solid fa-trash-can"></i></span>
        <span class="item">Delete Package</span>
      </a>
    </li>
    <li>
    <li>
      <a href="/report1">
        <span class="icon"><i class="fa-solid fa-chart-pie"></i></span>
        <span class="item">Report 1</span>
      </a>
    </li>
    <li>
    <li>
      <a href="/report2">
        <span class="icon"><i class="fa-solid fa-chart-column"></i></span>
        <span class="item">Report 2</span>
      </a>
    </li>
    <li>
    <li>
      <a href="/report3">
        <span class="icon"><i class="fa-solid fa-microscope"></i></span>
        <span class="item">Report 3</span>
      </a>
    </li>
    <li>
    <li>
      <a href="/report4">
        <span class="icon"><i class="fa-solid fa-flask-vial"></i></span>
        <span class="item">Report 4</span>
      </a>
    </li>
    <li>
    <li>
      <a href="/report5">
        <span class="icon"><i class="fa-solid fa-calculator"></i></span>
        <span class="item">Report 5</span>
      </a>
    </li>
    <li>

    </li>
  </ul>
</div>
