<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css" integrity="sha384-/frq1SRXYH/bSyou/HUp/hib7RVN1TawQYja658FEOodR/FQBKVqT9Ol+Oz3Olq5" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
  <link rel="stylesheet" href="css/styles.css">
  <title>Token Number</title>
</head>

<body>
  <%- include('navbar');  -%>
  <div id="container">
      <h1 id="copy-text" class="payment-centre"><%=tokenID%></h1>
      <button id="copy-text-btn" class="btn btn-dark btn-small copyButton">Copy </button>
  </div>
  <h4 class="reference-no">NOTE:Copy this reference token number for further enquiry</h4>

  <%- include('footer');  -%>



  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script>
    document.getElementById('copy-text-btn').onclick = function() {
      const _this = this;
      navigator.clipboard.writeText(document.getElementById('copy-text').innerText)
        .then(function() {
          _this.innerText = 'Copied';

          setTimeout(function() {
            _this.innerText = 'Copy'
          }, 1000)
        })
    }
  </script>

</body>

</html>
